<nav>

  <div class="nav-left">

    <a
      routerLink="/"
      class="logo">

      Aabha Atelier

    </a>

  </div>

  <div class="nav-right">

    <a routerLink="/products">
      Collection
    </a>

    <a
      routerLink="/products/create"
      *ngIf="isAdmin$ | async">

      Sell Artwork

    </a>

    <a
      routerLink="/products/cart"
      class="cart-link">

      Cart

      <span class="cart-count">

        {{
          cartCount$ | async
        }}

      </span>

    </a>

    <a
      routerLink="/login"
      *ngIf="!(isLoggedIn$ | async)">

      Login

    </a>

    <button
      *ngIf="isLoggedIn$ | async"
      (click)="logout()">

      Logout

    </button>

  </div>

</nav>