<section class="details-page">

  <div class="details-layout">

    <!-- IMAGE -->

    <div class="details-image-section">

      <img
        class="product-detail-image"

        [src]="product?.imageUrl"

        [alt]="product?.name"
      />

    </div>

    <!-- CONTENT -->

    <div class="details-info-section">

      <div class="details-subtitle">
        Featured Artwork
      </div>

      <h1>
        {{ product?.name }}
      </h1>

      <div class="artist-name">
        by {{ product?.artistName }}
      </div>

      <div class="price">
        ₹ {{ product?.price }}
      </div>

      <p class="description">
        {{ product?.description }}
      </p>

      <div class="category">
        {{ product?.category }}
      </div>

      <button class="add-cart-btn" (click)="addToCart(product!)">
        Add To Cart
      </button>

    </div>

  </div>

</section>